body {
	margin: 0px;
}

.circle {
	border: solid red 20px;
	border-radius: 50%;
	width: 0;
	height: 0;
	position: absolute;
}

#container {
	width: 400px;
	height: 400px;
	position: relative;
	background: whitesmoke;
	overflow: hidden;
}

.bat {
	border: solid burlywood 10px;
	width: 100;
	height: 0;
	position: absolute;
	bottom: 0;
	left: 100px;
}

#score {
	text-align: right;
}

.navbar {
	border: solid grey 1px;
	display: flex;
	background-color: grey;
}

.nav-items {
	list-style-type: none;
}

.nav-item {
	margin: 0 10px 0 10px;
}

.nav-item > a {
	color: lightgray;
	text-decoration: none;
}

.nav-item > a:hover {
	color: white;
}